@model SellsmanViewModel
@*//@model IEnumerable<SelectListItem>
*@
@*<h2>Bill Details</h2>

<h3>Order Items</h3>

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderItem in ViewBag.OrderItems)
        {
            <tr>
                <td>@orderItem.ProductName</td>
                <td>@orderItem.Price</td>
                <td>@orderItem.Quantity</td>
                <td>@(orderItem.Price * orderItem.Quantity)</td>
            </tr>
        }
    </tbody>
</table>

<h3>Total Price</h3>
<p>Total Price: @ViewBag.TotalPrice</p>*@

@{
    ViewBag.Title = "Index";
}

<!-- Your existing HTML content -->

<div class="mt-3" style="float:right">
    <form asp-controller="Sellsman" asp-action="PrintBill" method="post">
        <input type="hidden" asp-for="User" />
        @foreach (var item in Model.Items)
        {
            <input type="hidden" asp-for="@item.Order" value="@item.Order" />
            <input type="hidden" asp-for="@item.UnitPrice" value="@item.UnitPrice" />
            <input type="hidden" asp-for="@item.Quantity" value="@item.Quantity" />
            <input type="hidden" asp-for="@item.Total" value="@item.Total" />
        }
        <input type="hidden" asp-for="TotalAmount" />

        <button type="submit" class="btn btn-primary">Print Bill</button>
    </form>
</div>


@*<a href="/Sellsman/Index">Back to Sellsman</a>
*@